<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <visits>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ConstructVisitsDataTable, Sitecore.Cintel" />

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ConstructVisitsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.PopulateVisitsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ApplyMasterDataToVisits, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </visits>

          <visit-summary>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ConstructVisitsDataTable, Sitecore.Cintel" />

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ConstructVisitsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.PopulateVisitsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Visit.Processors.ApplyMasterDataToVisits, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </visit-summary>

          <latest-statistics>
            <processor type="Sitecore.Cintel.Reporting.Contact.LatestStatistics.Processors.ConstructLatestStatisticsDataTable, Sitecore.Cintel"/>

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">contact-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.LatestStatistics.Processors.PopulateContactStatistics, Sitecore.Cintel" />

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.LatestStatistics.Processors.PopulateVisitStatistics, Sitecore.Cintel" />
          </latest-statistics>

          <visit-pages>
            <processor type="Sitecore.Cintel.Reporting.Contact.Page.Processors.ConstructVisitPagesDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">pages-by-visit-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Page.Processors.PopulateVisitPagesWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Page.Processors.ApplyMasterDataToVisitPages, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </visit-pages>

          <visit-goals>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.ConstructGoalsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">goals-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.PopulateGoalsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Views.GoalsForVisit.Processors.FilterGoalsOnVisitId, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.ApplyMasterDataToGoals, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </visit-goals>

          <internal-keyword-summary>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordSummary.Processors.ConstructInternalKeywordSummaryDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-events-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordSummary.Processors.PopulateInternalKeywordSummariesWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </internal-keyword-summary>

          <internal-keyword-detail>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.ConstructInternalKeywordDataTable,Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-events-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.PopulateInternalKeywordDetailsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.FilterInternalKeywordDetailsBasedOnSearchTerm, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </internal-keyword-detail>

          <visit-internal-searches>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.ConstructInternalKeywordDataTable,Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-events-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.PopulateInternalKeywordDetailsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.InternalKeywordDetail.Processors.FilterInternalKeywordDetailsBasedOnVisitId, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </visit-internal-searches>

          <paid-keyword-summary>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.ConstructExternalKeywordSummaryDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.PopulateExternalKeywordSummariesWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.FilterExternalKeywordSummariesBasedOnTrafficType, Sitecore.Cintel">
              <trafficTypes hint="list:AddTrafficType">
                <trafficTypeId>90</trafficTypeId>
              </trafficTypes>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </paid-keyword-summary>

          <external-keyword-summary>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.ConstructExternalKeywordSummaryDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.PopulateExternalKeywordSummariesWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordSummary.Processors.FilterExternalKeywordSummariesBasedOnTrafficType, Sitecore.Cintel">
              <trafficTypes hint="list:AddTrafficType">
                <trafficTypeId>10</trafficTypeId>
                <trafficTypeId>15</trafficTypeId>
              </trafficTypes>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </external-keyword-summary>

          <paid-keyword-detail>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.ConstructExternalKeywordDetailsDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.PopulateExternalKeywordDetailsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.FilterExternalKeywordDetailsBasedOnTrafficType, Sitecore.Cintel">
              <trafficTypes hint="list:AddTrafficType">
                <trafficTypeId>90</trafficTypeId>
              </trafficTypes>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </paid-keyword-detail>

          <external-keyword-detail>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.ConstructExternalKeywordDetailsDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visits-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.PopulateExternalKeywordDetailsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ExternalKeywordDetail.Processors.FilterExternalKeywordDetailsBasedOnTrafficType, Sitecore.Cintel">
              <trafficTypes hint="list:AddTrafficType">
                <trafficTypeId>10</trafficTypeId>
                <trafficTypeId>15</trafficTypeId>
              </trafficTypes>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </external-keyword-detail>

          <campaigns>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.ConstructCampaignsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">campaigns-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.PopulateCampaignsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.ApplyMasterDataToCampaigns, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </campaigns>

          <recent-campaigns>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.ConstructCampaignsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">campaigns-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.PopulateCampaignsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Campaign.Processors.ApplyMasterDataToCampaigns, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </recent-campaigns>

          <goals>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.ConstructGoalsDataTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">goals-query</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.PopulateGoalsWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.ApplyMasterDataToGoals, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </goals>

          <profile-pattern-matches>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfilePatternMatch.Processors.ConstructProfilePatternMatchTable, Sitecore.Cintel"/>

            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPatternScores.PrepareProfileKeyMapping, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-pattern-scores</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfilePatternMatch.Processors.PopulateProfilePatternMatchesWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </profile-pattern-matches>

          <profile-info>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.ConstructProfileInfoTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitScoringProfiles.PrepareProfileMapping, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-scoring-profiles</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindMostRecentVisitPerProfileAndProjectToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindBestPatternMatchAndApplyToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.ApplyMasterDataToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </profile-info>

          <best-pattern-matches>
            <!-- This pipeline is intentionally identical to profile-info -->
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.ConstructProfileInfoTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitScoringProfiles.PrepareProfileMapping, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-scoring-profiles</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindMostRecentVisitPerProfileAndProjectToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindBestPatternMatchAndApplyToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.ApplyMasterDataToProfileInfo, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </best-pattern-matches>

          <profiling-profile-key-values>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPatternScores.PrepareProfileKeyMapping, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-pattern-scores</param>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileKeyScore.Processors.ConstructProfileKeyScoreTable, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileKeyScore.Processors.PopulateProfileKeyScoresWithXdbData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.ProfileKeyScore.Processors.ApplyMasterDataToProfileKeyScores, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </profiling-profile-key-values>

          <automations>
            <processor type="Sitecore.Cintel.Reporting.Contact.Automation.Processors.ConstructAutomationsDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Contact.Automation.Processors.PopulateAutomationsWithContactsCurrentStates, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Automation.Processors.ApplyMasterDataToAutomations, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </automations>

          <latest-events>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.ConstructEventsDataTable, Sitecore.Cintel" />

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-events-query</param>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateEventsWithExternalKeywordsFromXdb, Sitecore.Cintel">
              <trafficTypes hint="list:SetExternalTrafficTypes">
                <trafficTypeId>10</trafficTypeId>
                <trafficTypeId>15</trafficTypeId>
              </trafficTypes>
              <trafficTypes hint="list:SetPaidTrafficTypes">
                <trafficTypeId>90</trafficTypeId>
              </trafficTypes>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithNoSearchHitsFoundEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithSearchEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateFormEventsFromXdb, Sitecore.Cintel"/>
            
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithPageEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Views.LatestEvents.Processors.FilterEventsToGetOnlyLatestEvents, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.UpdateAllEventsWithMasterData, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Views.LatestEvents.Processors.InsertLatestVisitOnTop, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </latest-events>

          <events>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.ConstructEventsDataTable, Sitecore.Cintel" />

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visit-events-query</param>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateEventsWithExternalKeywordsFromXdb, Sitecore.Cintel">
              <trafficTypes hint="list:SetExternalTrafficTypes">
                <trafficTypeId>10</trafficTypeId>
                <trafficTypeId>15</trafficTypeId>
              </trafficTypes>
              <trafficTypes hint="list:SetPaidTrafficTypes">
                <trafficTypeId>90</trafficTypeId>
              </trafficTypes>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithCampaignsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithNoSearchHitsFoundEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithSearchEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateFormEventsFromXdb, Sitecore.Cintel"/>

            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.PopulateAllEventsWithPageEventsFromXdb, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Views.AllEvents.Processors.FilterEventsToGetOnlySelectedPageEvents, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Contact.Event.Processors.UpdateAllEventsWithMasterData, Sitecore.Cintel"/>
                        
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </events>

        </pipelines>
      </group>

      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <contact-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.ContactSystemInfo.GetSingleContactSystemInfo, Sitecore.Cintel"/>
          </contact-query>
          <visit-pattern-scores>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPatternScores.RetrievePatternScoresForInteraction, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPatternScores.ProjectPatternScoresToRowBasedForm, Sitecore.Cintel"/>
          </visit-pattern-scores>
          <visit-scoring-profiles>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitScoringProfiles.RetrieveScoringProfiles, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitScoringProfiles.ProjectScoringProfilesToRowBasedForm, Sitecore.Cintel"/>
          </visit-scoring-profiles>
          <visit-events-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitEvents.GetPages, Sitecore.Cintel"/>
          </visit-events-query>
          <visits-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel"/>
          </visits-query>
          <campaigns-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.Campaigns.GetCampaigns, Sitecore.Cintel"/>
          </campaigns-query>
          <pages-by-visit-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPages.GetPages, Sitecore.Cintel"/>
          </pages-by-visit-query>
          <goals-query>
            <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.Goals.GetGoals, Sitecore.Cintel"/>
          </goals-query>
        </pipelines>
      </group>

      <group groupName="ExperienceProfileAggregateViews">
        <pipelines>
          <latest-visitors>
            <processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.ConstructVisitorsDataTable, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </latest-visitors>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>