<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Cintel.Endpoint.Plumbing.InitializeRoutes, Sitecore.Cintel" patch:after="*[last()]" />
      </initialize>

      <registerReportingDataSource>
        <processor type="Sitecore.Analytics.Pipelines.RegisterReportingDataSource.RegisterReportingDataSourceProcessor, Sitecore.Analytics" >
          <datasources hint="list:AddDatasource">
            <add key="ExperienceProfileQueryPipeline" type="Sitecore.Cintel.Reporting.ReportingServerDatasource.QueryPipelineDataSource, Sitecore.Cintel"/>
          </datasources>
        </processor>
      </registerReportingDataSource>
    </pipelines>

    <experienceProfile>
      <defaultImages>
        <contactProfileImageId id="{76807981-28BA-49FF-BAA2-9DC1C40F2F73}" />
        <pageEventImageId id="{E535D1CA-B43D-40DF-AE02-11A609F19781}" />
        <patternCardImageId id="{8ABB6C19-F381-4469-88FB-567E7D141F44}" />
      </defaultImages>
      <providers>
        
        <viewProvider type="Sitecore.Cintel.Reporting.PipelineViewProvider" singleInstance="true" />

        <cmsMasterDataService type="Sitecore.Cintel.CmsDataService.CmsMasterDataService, Sitecore.Cintel" singleInstance="true" />

        <contactService type="Sitecore.Cintel.ContactService.XdbContactService, Sitecore.Cintel" singleInstance="true" />
        
        <contactSearchProvider type="Sitecore.Cintel.ContactSearchProvider, Sitecore.Cintel" singleInstance="true" />
         
      </providers>
      <defaultFacets>
        <PersonalInfo name="Personal" />
        <AddressList name="Addresses" />
        <EmailList name="Emails" />
        <PhoneNumberList name="Phone Numbers" />
        <Picture name="Picture" />
      </defaultFacets>

      <resultTransformManager>
        <!-- Example
        <resultTransformProvider clientName="speakClient" type="Sitecore.Cintel.Endpoint.Transfomers.ResultTransformProvider" singleInstance="true">
          <intelResultTransformers>
            <add viewName="visits" type="Sitecore.Cintel.Client.Transformers.VisitResultTransformer, Sitecore.Cintel.Client"/>
          </intelResultTransformers>
          <contactSearchResultTransformer type="Sitecore.Cintel.Client.Transformers.ContactSearchResultTransformer, Sitecore.Cintel.Client"/>
        </resultTransformProvider>
        -->
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>