<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=b;Data Source=.\SQLEXPRESS;Database=SitecoreRules_Sitecore_core" />
  <add name="master" connectionString="user id=sa;password=b;Data Source=.\SQLEXPRESS;Database=SitecoreRules_Sitecore_master" />
  <add name="web" connectionString="user id=sa;password=b;Data Source=.\SQLEXPRESS;Database=SitecoreRules_Sitecore_web" />
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="reporting" connectionString="user id=sa;password=b;Data Source=.\SQLEXPRESS;Database=SitecoreRules_Sitecore_analytics" />
</connectionStrings>